@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/*
 * style.css
 */
body {
	padding-top: 50px;
}

table {
	width: 100%;
	align: middle;
	
}

table thead {
	background-image: linear-gradient(to bottom, white, #f2f2f2);
	heigth:20px;
	outline: 0;
	border: 1px solid #c1c1c1;
	font-size: 12px;
}
table th{
	padding: 5px;
}
table td{
	padding-left:3px;
}
table tr:nth-child(even) {
	background-color: #f2f2f2
}
.verm{
	margin: 5px 0 0;
	color: #ff0000;
}